
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2>Profilini Güncelle</h2>
    <form>
        <div class="form-group mt-2">
            <label for="username">Kullanıcı Adı</label>
            <input type="text" class="form-control" id="username" placeholder="Kullanıcı adınızı girin" required>
        </div>
        <div class="form-group mt-2">
            <label for="surname">Soyadı</label>
            <input type="text" class="form-control" id="surname" placeholder="Soyadınızı girin" required>
        </div>
        <div class="form-group mt-2">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email adresinizi girin" required>
        </div>
        <div class="form-group mt-2">
            <label for="password">Şifre</label>
            <input type="password" class="form-control" id="password" placeholder="Şifrenizi girin" required>
        </div>
        <div class="form-group mt-2">
            <label for="salary">Maaş</label>
            <input type="text" class="form-control" id="salary" placeholder="Maaşınızı girin" readonly>
        </div>
        <div class="mt-4">
        <button type="submit" class="btn btn-primary me-lg-2">Değişiklikleri Kaydet</button>
        <a href="/Staff/Index" class="btn btn-secondary">Ana Sayfa</a>
        </div>
    </form>

</div>
