
@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <h1 id="taskTitle">Görev Detayı</h1>
    <h5 id="taskStatus">Status</h5>
    <form>
        <div class="form-group">
            <label for="taskContent">Content</label>
            <textarea class="form-control" id="taskContent" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="taskComment">Comment</label>
            <textarea class="form-control" id="taskComment" rows="3"></textarea>
        </div>
    </form>
    <br />
    <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button> <!-- Değişiklikleri Kaydet butonu eklendi -->
    <a href="/Staff/Index" class="btn btn-secondary">Ana Sayfa</a> <!-- Ana sayfa butonu eklendi -->
</div>


<script>
    //// URL parametrelerini al
    //const params = new URLSearchParams(window.location.search);
    //const title = params.get('title');
    //const content = params.get('content');

    //// Sayfadaki elementleri güncelle
    //document.getElementById('taskTitle').innerText = title;
    //document.getElementById('taskContent').innerText = content;
</script>