.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh;
}

.large-text {
    font-size: 2rem;
}
